<%= form_for @guest do |f| %>
	<div>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

  	<div>
  		<%= f.label :company %>
  		<%= f.text_field :company %>
  	</div>
    <div>
  		<%= f.label :company_website %>
  		<%= f.text_field :company_website %>
  	</div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
  		<%= f.label :linkedin %>
  		<%= f.text_field :linkedin %>
  	</div>


	<div>
		<%= f.submit %>
	</div>

<% end %>
