<!-- <H1> Walking through Guest Page </H1> -->
<div class="row justify-content-md-center"">
	 <div class="col-3">
		 <h1 class="page_title"> guest</h1>
	 </div>

	  <div class="col-6">

          <% @guests.each_with_index do |guest, counter| %>

          			 <div id= counter class="parent-tr font_properties">
           <%  if counter % 3 == 0 %>

				  					 <ul class=" table_format guest_three">

					  				  <% guest.events.each do |my_event| %>
						  			  	    <li class="font_properties" > Event Name(s): <%= my_event.title %> </li>
							  			<% end %>
									  		 <li class="font_properties "> First Name: <%= guest.first_name %></li>
										  	 <li class="font_properties "> Last Name: <%= guest.last_name %> </li>
											   <li class="font_properties"> Company: <%= guest.company %> </li>
											   <li class="font_properties "> Comapany Website: <%= guest.company_website %> </li>
											   <li class="font_properties "> Email: <%= guest.email %> </li>
											   <li class="font_properties "> Linkedin: <%= guest.linkedin %> </li>
										     <li class="view">
										     <% if admin_signed_in? %>
											   <%= link_to 'Delete', guest, method: :delete, remote: true, class:'font_properties delete-todo btn float-right' %>
												<br>
										   <% end %>
										  </li>
									  </ul>

							<% end %>
							     </div>
							<div id= counter class="parent-tr font_properties">
            <%  if counter % 3 == 1 %>

									<ul class=" table_format guest_one">

									 <% guest.events.each do |my_event| %>
												 <li class="font_properties" > Event Name(s): <%= my_event.title %> </li>
									 <% end %>
											<li class="font_properties "> First Name: <%= guest.first_name %></li>
											<li class="font_properties "> Last Name: <%= guest.last_name %> </li>
											<li class="font_properties"> Company: <%= guest.company %> </li>
											<li class="font_properties "> Comapany Website: <%= guest.company_website %> </li>
											<li class="font_properties "> Email: <%= guest.email %> </li>
											<li class="font_properties "> Linkedin: <%= guest.linkedin %> </li>
											<li class="view">
											<% if admin_signed_in? %>
											<%= link_to 'Delete', guest, method: :delete, remote: true, class:'font_properties delete-todo btn float-right' %>
										 <br>
										<% end %>
									 </li>
								 </ul>

					   <% end %>
						 </div>
						 <%  if counter % 3 == 2 %>
						 <div id= counter class="parent-tr font_properties">
									 <ul class=" table_format guest_two">

										<% guest.events.each do |my_event| %>
													<li class="font_properties" > Event Name(s): <%= my_event.title %> </li>
										<% end %>
											 <li class="font_properties "> First Name: <%= guest.first_name %></li>
											 <li class="font_properties "> Last Name: <%= guest.last_name %> </li>
											 <li class="font_properties"> Company: <%= guest.company %> </li>
											 <li class="font_properties "> Comapany Website: <%= guest.company_website %> </li>
											 <li class="font_properties "> Email: <%= guest.email %> </li>
											 <li class="font_properties "> Linkedin: <%= guest.linkedin %> </li>
											 <li class="view">
											 <% if admin_signed_in? %>
											 <%= link_to 'Delete', guest, method: :delete, remote: true, class:'font_properties delete-todo btn float-right' %>
											<br>
										 <% end %>
										</li>
									</ul>
								</div>
						 <% end %>
						 <div class="row-12 empty_space">

						 </div>
				   <% end %>
          </div>
			 	<div class="col-3">
				</div>



		 </div>
