<div class="container">
  <h2>Guest Information</h2>
  <div  class="panel panel-default">

       <div class="panel-body mb-4">First Name: <%= @guest_show.first_name %></div>
       <div class="panel-body mb-4">Last Name: <%= @guest_show.last_name %> </div>
       <div class="panel-body mb-4 ">Website:  <%= @guest_show.company_website %></div>
       <div class="panel-body mb-4">Email: <%= @guest_show.email %></div>
       <div class="panel-body mb-4">Linkedin: <%= @guest_show.linkedin %></div>

  </div>
</div>
