 <div class="row justify-content-md-center"">
    <div class="col-3">
      <h1 class="page_title"> students.</h1>
    </div>

    <div class="col-6">

  	  <div class="row-12">
        <% if current_admin %>
          <div class="col-12">
          	
          
  	  	   <div class="row-6 my-4">
  	  	   	   <%= link_to 'create profile', new_student_path, class: "btn" %> 
  	  	   </div>
  	  	   <div class="row-6 my-4">
  	  	   	  
  	  	   
  	  	   </div>

           </div>
   	  	  <% end %>
   	  </div>
   	  <div class="row-12 text-right">
  	  	   <u> # of students:</u>
   	  	    	 <b class="total"> <i> <%= @students.all.count %></i></b> 
   	  	    
    	  
   	  </div>

		   <% @students.each_with_index do |student, counter| %>
             <%  if counter % 4 == 1 %> 

			        <div class="row tile student_one my-3">

	                     <div class="col-md-4">
							 <% if student.avatar.attached? %>						   	   
							   	      	
								<%= image_tag student.avatar, class: "headshot_small  justify-content-center" %>
														   	 			  
							<% else %>
								        
								<%= image_tag "hamilton.jpg", class: "headshot_small justify-content-center" %>
																		 
							<% end %>					   	   
							</div>

					 		 <div class="col-md-8 text-xs-center text-sm-right text-lg-center" >

					 				
							    <%= link_to student.first_name,  student_path(student), 'data-disable-with': "Hold, please..." %>   	   
							 </div>	
                    </div>

                <%  elsif counter % 4 == 2 %> 

                      <div class="row tile student_two my-3">

	                     <div class="col-md-4">
							 <% if student.avatar.attached? %>						   	   
							   	      	
								<%= image_tag student.avatar, class: "headshot_small justify-content-center" %>
														   	 			  
							<% else %>
								        
								<%= image_tag "hamilton.jpg", class: "headshot_small" %>
																		 
							<% end %>					   	   
							</div>

					 		 <div class="col-md-8 text-xs-center text-sm-right text-lg-center" >
			
							    <%= link_to student.first_name, student_path(student), 'data-disable-with': "Hold, please..." %>   	   
							 </div>	
                    </div> 
							
			       

                    <%  elsif counter % 4 == 3 %> 
                        <div class="row tile student_three my-3">

	                     <div class="col-md-4">
							 <% if student.avatar.attached? %>						   	   
							   	      	
								<%= image_tag student.avatar, class: "headshot_small justify-content-center" %>
														   	 			  
							<% else %>
								        
								<%= image_tag "hamilton.jpg", class: "headshot_small" %>
																		 
							<% end %>					   	   
							</div>

					 		 <div class="col-md-8 text-xs-center text-sm-right text-lg-center" >

					 				
							    <%= link_to student.first_name, student_path(student), 'data-disable-with': "Hold, please..." %>   	   
							 </div>	
                    </div>

                       

                    <%  elsif counter % 4 == 0 %> 

                        <div class="row tile student_four my-3">

	                     <div class="col-md-4">
							 <% if student.avatar.attached? %>						   	   
							   	      	
								<%= image_tag student.avatar, class: "headshot_small justify-content-center" %>
														   	 			  
							<% else %>
								        
								<%= image_tag "hamilton.jpg", class: "headshot_small" %>
																		 
							<% end %>					   	   
							</div>

					 		 <div class="col-md-8 text-xs-center text-sm-right text-lg-center" >

					 				
							    <%= link_to student.first_name, student_path(student), 'data-disable-with': "Hold, please..." %>   	   
							 </div>	
                    </div>
                        
                  <% end %>
		        <% end %>

		        <div class="row-12 empty_space">
         
                 </div>

         </div> 


<div class="col-3">

</div>
</div>

</div>
    







