<h2> <u> Student Profiles </u> </h2>


<i> <%= link_to 'Create A Student Profiles', new_student_path %> </i>  


		<h3>  <b> Roster </b></h3>

		   <% @students.each_with_index do |student, counter| %>
             
                     <%  if counter % 3 == 1 %>           

             <div class="student_short_bio    student_short_bio_one">
				   <div> 
				      Name: <%= student.first_name%> <%= student.last_name%>
				   </div>
				   <div> 
				     E-mail : <%= student.email %>
				   </div>
			       <div>
						<%= link_to 'More Info', student_path(student), 'data-disable-with': "Hold, please..." %>
						
					
						<%= link_to 'Edit', edit_student_path(student), 'data-disable-with': "Transferring now..." %>


				        <%= link_to 'Remove', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>

				   </div>
              </div>
			                


                       <%  elsif counter % 3 == 2 %>  

			       <div class="student_short_bio  student_short_bio_two">
				   <div> 
				      Name: <%= student.first_name%> <%= student.last_name%>
				   </div>
				   <div> 
				     E-mail : <%= student.email %>
				   </div>
			       <div>
						<%= link_to 'More Info', student_path(student), 'data-disable-with': "Hold, please..." %>
						
					
						<%= link_to 'Edit', edit_student_path(student), 'data-disable-with': "Transferring now..." %>


				        <%= link_to 'Remove', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>

				   </div>
              </div>

                       <%  elsif counter % 3 == 0 %> 

                         <div class="student_short_bio  student_short_bio_three">
								   <div> 
								      Name: <%= student.first_name%> <%= student.last_name%>
								   </div>
								   <div> 
								     E-mail : <%= student.email %>
								   </div>
							       <div>
										<%= link_to 'More Info', student_path(student), 'data-disable-with': "Hold, please..." %>
										
									
										<%= link_to 'Edit', edit_student_path(student), 'data-disable-with': "Transferring now..." %>


								        <%= link_to 'Remove', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>

								   </div>
                         </div>
                  <% end %>

		   <% end %>








