<h2> <u> Student Registry </u> </h2>


<i> <%= link_to 'Register a Student', new_student_path %> </i>  





		<h3>  <b> Roster </b></h3>

		   <% @students.each do |student| %>

			   <div> 
			      Name: <%= student.first_name%> <%= student.last_name%>
			   </div>


			   <div> 
			     E-mail : <%= student.email %>
			   </div>

		       <div>
					<%= link_to 'More Info', student_path(student), 'data-disable-with': "Hold, please..." %>
					
				
					<%= link_to 'Edit', edit_student_path(student), 'data-disable-with': "Transferring now..." %>


			        <%= link_to 'Remove', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>

			   </div>

			                   <br>

		   <% end %>
