
<h2> Student's Detailed Information </h2>


<div> First Name: <%= @student.first_name %> </div>

<div> Last Name: <%= @student.last_name %> </div>

<div> E-mail: <%= @student.email %> </div>

<div> Linkedin: <%= @student.linkedin %> </div>

<div> Portfolio: <%= @student.portfolio %> </div>

