<div class="row justify-content-md-center">
      <div class="col-md-2">
        <h1 class="page_title"> profile.</h1>
      </div>
   <div class="col-md-6">
        <div class="row" align="center">
          <div class="col-12">
            <h3>
              <b> 
               <u> <%= @student.first_name %>  <%= @student.last_name %> </u>
              </b>
            </h3>
                     <br>

          <% if @student.avatar.attached? %>
                        <div class="row-6 my-3 headshot_big">
                          <%= image_tag @student.avatar %>
                        </div>
              <% else %>
                       <div class="row-6 my-3  headshot_big">
                          <%= image_tag "hamilton.jpg" %>
                          <p>  * No Head Shot Given * </p>
                        </div>
          <% end %>         

                      <div class="row-6 my-3 bio_glow"> 
                            E-mail: <%= @student.email %> 
                            <br>

               Linkedin: <%= @student.linkedin %> 
               <br>

                  Portfolio: <%= @student.portfolio %> 
                      </div>
                
                 

                  

            
          </div>
        </div>

          




      
    </div>
    
    <div class="col-md-4 justify-content-md-left">
       <div class="row-4 my-4">
         <%= link_to 'Edit', edit_student_path, 'data-disable-with': "Transferring now...", class: "btn" %> 
         
       </div>
       <div class="row-4 my-4">
           <%= link_to 'Remove', student_path, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
         
       </div>
       <div class="row-4 my-4">
           <%= link_to 'Back To Student Profiles', students_path, class: "btn" %> 
         
       </div>

                 

      
    </div>

    <div class="row-12 empty_space">
         
               </div>

</div>






                  