

<h2> <u> Student Profile </u></h2>



 <h3>
  <div> 
  	<b> 
  		<%= @student.first_name %>  <%= @student.last_name %> 
    </b>
  </div>
  </h3>

  <% if @student.avatar.attached? %>
		    <div class="headshot_big">
		    	<%= image_tag @student.avatar %>
		    </div>
   <% else %>
		   <div class="headshot_big">
		    	<%= image_tag "hamilton.jpg" %>
		    	<p>  * No Head Shot Given * </p>
		    </div>
  <% end %>
                 <br>


<div> E-mail: <%= @student.email %> </div>

<div> Linkedin: <%= @student.linkedin %> </div>

<div> Portfolio: <%= @student.portfolio %> </div>

                  <br>
                   <%= link_to 'Remove', student_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_student_path, 'data-disable-with': "Transferring now..." %> 
  <br>



<%= link_to 'Back To Student Profiles', students_path %> 
