<div class="row justify-content-md-center">
      <div class="col-md-2">
        <h1 class="page_title"> profile.</h1>
      </div>
   <div class="col-md-6">
        <div class="row" align="center">
          <div class="col-12">
            <h3>
              <b> 
               <u> <%= @student.first_name %>  <%= @student.last_name %> </u>
              </b>
            </h3>
                     <br>

          <% if @student.avatar.attached? %>
                        <div class="row-6 my-3 headshot_big">
                          <%= image_tag @student.avatar %>
                        </div>
              <% else %>
                       <div class="row-6 my-3  headshot_big">
                          <%= image_tag "hamilton.jpg" %>
                          <p>  * No Head Shot Given * </p>
                        </div>
          <% end %>         

                      <div class="row-6 my-3 pt-5 bio_glow"> 
                            <span class="bio_text">E-mail:</span> <%= @student.email %> 
                              <br>

                            <span class="bio_text">Linkedin:</span> <%= @student.linkedin %> 
                              <br>

                            <span class="bio_text">Portfolio: </span><%= @student.portfolio %> 
                      </div>
                   <!--   This format is due to the route, to access the individual students events, you have to go through events_students -->
                      <% @student.events_students.each_with_index do |events_student, counter| %>
                      <%  if counter % 4 == 1 %> 
                            <div class="row-12">
                               <ul class="firstcolor table_format">
                                 <li class="title"><%= events_student.event.title %></li> 
                                 <li class="date"><%= events_student.event.date.strftime("%B %-d, %Y") %></li>
                                  <li class="view">  <%= link_to 'Remove', events_student_path(events_student), class: "btn float-right", method: :delete, data: { confirm: 'Are you sure?' } %></li>
                               </ul>
                             </div>
                      <%  elsif counter % 4 == 2 %>
                           <div class="row-12">
                               <ul class="secondcolor table_format">
                                 <li class="title"><%= events_student.event.title %></li> 
                                 <li class="date"><%= events_student.event.date.strftime("%B %-d, %Y") %></li>
                                  <li class="view">  <%= link_to 'Remove', events_student_path(events_student), class: "btn float-right", method: :delete, data: { confirm: 'Are you sure?' } %></li>
                               </ul>
                             </div>
                     <%  elsif counter % 4 == 3 %>
                          <div class="row-12">
                               <ul class="thirdcolor table_format">
                                 <li class="title"><%= events_student.event.title %></li> 
                                 <li class="date"><%= events_student.event.date.strftime("%B %-d, %Y") %></li>
                                  <li class="view">  <%= link_to 'Remove', events_student_path(events_student), class: "btn float-right", method: :delete, data: { confirm: 'Are you sure?' } %></li>
                               </ul>
                             </div>
                        <%  elsif counter % 4 == 0 %>
                          <div class="row-12">
                               <ul class="fourthcolor table_format">
                                 <li class="title"><%= events_student.event.title %></li> 
                                 <li class="date"><%= events_student.event.date.strftime("%B %-d, %Y") %></li>
                                  <li class="view">  <%= link_to 'Remove', events_student_path(events_student), class: "btn float-right", method: :delete, data: { confirm: 'Are you sure?' } %></li>
                               </ul>
                             </div>

                       <% end %>  

                  <% end %>                                  
          </div>
        </div>      
    </div>
    
    <div class="col-md-4 justify-content-md-left">
       <div class="row-3 my-4">
         <%= link_to 'Edit', edit_student_path, 'data-disable-with': "Transferring now...", class: "btn" %> 
         
       </div>
       <div class="row-3 my-4">
           <%= link_to 'Remove', student_path, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
         
       </div>
       <div class="row-3 my-4">
           <%= link_to 'Back To Profiles', students_path, class: "btn" %> 
         
       </div> 
       <div class="row-3 my-4">
             <%= render 'students_events_form', class: "event_select" %>     
       </div>     
    </div>

    <div class="row-12 empty_space">
         
               </div>

</div>






                  