<div class="row justify-content-md-center">

  <div class="col-2">
      <h1 class="page_title"> events.</h1>
    </div>

      <div class="col-8">
      <% if current_admin %>
      <p> <%= link_to "Add Event", new_event_path, class: "btn" %> </p>
      <% end %>

      <% @events.each_with_index do |event, counter| %>
      <%  if counter % 4 == 1 %>

        <div class="row-12">
          <ul class="firstcolor table_format">
          <li class="date"><%= event.date.strftime("%B %-d, %Y") %></li>
          <li class="title"><%= event.title %></li>
          <li class="time"><%= event.start_time.strftime("%-I:%M%p") %> to <%= event.end_time.strftime("%-I:%M%p") %></li>
          <li class="view"><%= link_to "View Event", event_path(event), class: "btn float-right" %><br></li>
          </ul>
        </div>

          <%  elsif counter % 4 == 2 %>
            <div class="row-12">
              <ul class="secondcolor table_format">
              <li class="date"><%= event.date.strftime("%B %-d, %Y") %></li>
              <li class="title"><%= event.title %></li>
              <li class="time"><%= event.start_time.strftime("%-I:%M%p") %> to <%= event.end_time.strftime("%-I:%M%p") %></li>
              <li class="view"><%= link_to "View Event", event_path(event), class: "btn float-right" %><br></li>
            </ul>
          </div>

          <%  elsif counter % 4 == 3 %>
            <div class="row-12">
              <ul class="thirdcolor table_format">
              <li class="date"><%= event.date.strftime("%B %-d, %Y") %></li>
              <li class="title"><%= event.title %></li>
              <li class="time"><%= event.start_time.strftime("%-I:%M%p") %> to <%= event.end_time.strftime("%-I:%M%p") %></li>
              <li class="view"><%= link_to "View Event", event_path(event), class: "btn float-right" %><br></li>
              </ul>
          </div>

          <%  elsif counter % 4 == 0 %>
            <div class="row-12">
              <ul class="fourthcolor table_format">
              <li class="date"><%= event.date.strftime("%B %-d, %Y") %></li>
              <li class="title"><%= event.title %></li>
              <li class="time"><%= event.start_time.strftime("%-I:%M%p") %> to <%= event.end_time.strftime("%-I:%M%p") %></li>
              <li class="view"><%= link_to "View Event", event_path(event), class: "btn float-right" %><br></li>
              </ul>
            </div>

          <% end %>

      <% end %>

        <div class="row-12 empty_space">

        </div>
      </div>

    <div class="col-2">



</div>
<div>
