<div class="row justify-content-md-center">

  <div class="col-3">
    <h1 class="page_title">details</h1>
  </div>

  <div class="col-8">

    <div class="row">

      <ul class="eventshow table_format">
      <li class="date"><%= @event.date.strftime("%B %-d, %Y") %></li>
      <li class="title"><%= @event.title %></li>
      <li class="time"><%= @event.start_time.strftime("%-I:%M%p") %> to <%= @event.end_time.strftime("%-I:%M%p") %></li>
      <li class="view"><%= @event.description %></li>
      <li class="view"><%= link_to "Register For Event", new_event_guest_path(@event.id), class: "btn float-right" %></li>
      </ul>

      <%= link_to 'Return to Events', events_path %>

    </div>

  </div>
    
  <div class="col-1">
  </div>

</div>

<div class="row-12 empty_space">
</div>






